* {
    box-sizing: border-box;
}
.bungee-inline-regular {
  font-family: "Bungee Inline", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
  color: hsl(295, 74%, 28%);
  font-family: Bungee Inline;
  border-style: double;
  border-width: 5px;
  border-color: rgb(97, 143, 143);
}
h2 {
  font-family: Bungee Inline;
  color: hsl(135, 93%, 16%);
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-shadow: 2px 2px 5px red;
}
h3 {
  color: hsl(246, 93%, 16%);
  font-family: Bungee Inline;
  text-decoration-line: overline underline;
  text-decoration-style: dotted;
}
nav a {
    transition: all 2s ease;
}
nav a:hover {
    font-size: 125%;
    font-family: papyrus;
}
h1 {
    transition: border 3s 3s;
}
p {
    color: rgb(62, 66, 99);
}
body {
    background-color: steelblue;
}
p.assignment-desc {
    width: 65%;
}
.assignment-desc{
    font-weight: bold;
}
.container {
    display:flex;
    flex-direction: row;
}
.completed-projects {
    background: yellow;
    justify-content:left;
}
.future-projects {
    background: orange;
    justify-content: flex-end;
    align-items:end;
}
.sidebar{
    flex-wrap:wrap;
    justify-content: flex-end;
    align-items:end;
    background: gray;
}
.project-desc{
    color: rgb(228, 141, 10);
}
#footer{
    color: purple;
    font-weight: bold;
}
aside ul {
    text-decoration: none;
    color: rgb(65, 5, 52);
    list-style-image: linear-gradient(to left bottom, red, blue);

}
a[href="about-me.html"] {
    background-color: rgb(98, 102, 105);
    padding: 1rem;
}
img {
    border-style: dashed;
    border-color: orange;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}
li:nth-child(odd) {
    color: gold;
}
h1 {
    transition: order 4s ease-in 1s;
}
h1:hover {
    background-color: rgb(228, 141, 10);
}
.about-me {
    transition: all 2s ease;
}
.about-me:hover {
    background-color: rgb(228, 141, 10);
}